# ------------------------------------------------------------
# --------------------- UI Runtime ---------------------------
# ------------------------------------------------------------

# Override the node environment for the UI (so you can see "production" mode in development)
# NEXT_PUBLIC_UI_NODE_ENV_OVERRIDE=production

# ------------------------------------------------------------
# --------------------- Strapi CMS ---------------------------
# ------------------------------------------------------------
STRAPI_CMS_API_URL=http://localhost:1337
STRAPI_CMS_API_TOKEN=your_token_here