# ------------------------------------------------------------
# --------------------- UI Runtime ---------------------------
# ------------------------------------------------------------

# Override the node environment for the UI (so you can see "production" mode in development)
# NEXT_PUBLIC_UI_NODE_ENV_OVERRIDE=production

# ------------------------------------------------------------
# --------------------- Strapi CMS ---------------------------
# ------------------------------------------------------------
STRAPI_CMS_API_URL=http://localhost:1337
STRAPI_CMS_API_TOKEN=768934b569f365acfa3a5643166b263a30dfed62cc014f126545317783f73aec3790caea92c6b8126ba791c624159c58af1ea23e28fe5412336e38df87b102c1ca9c0ee72160872fc722dcada92937f8efab97564eeca3c0ace62d342b3c084e83b87062076a550c760d9a5d09b46d6a41fb240260c80f07bd8d2c2f4abd3701